<div class="container">
<h1 class="title">Todo Show Page</h1>
<div class="show">
<p>Titre: <%= @todo["title"] %>
<p class="mb-3">Description: <%= @todo["description"] %>
</div>
<div class="back">
<%= link_to "Back To Todo List", todos_path %>
</div>
</div>