@import "bootstrap/scss/bootstrap";
body {
    list-style: none;
}

.container {
    text-align: center;
    margin-top: 5rem;
}

.title {
    margin-bottom: 5rem;
    font-weight: bold;
}

h2 {
    text-decoration: none;
}